{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block content %}
<header class="head">
    <ul>
        <li><a href="{% url 'HomePage' %}" >Главная</a></li>
        <li><a href="{% url 'ShopPage' %}">Магазин</a></li>
        <li><a href="{% url 'BasketPage' %}">Корзина</a></li>
        <li><a href="{% url 'AboutUsPage' %}"class="active">О нас</a></li>
        <li><a href="{% url 'SettingsPage' %}">Настройки</a></li>
    </ul>
</header>
<div class="container_us">
    <p class="pon">Суши сайт все дела ляляля тапаля там типо лол да ты пон да</p>
    <div class="one">
        <a href="#">Мы в Vk</a>
        <a href="#">Мы в Instagram</a>
    </div>
</div>

{% endblock %}