{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Корзина</h1>
    <div class="cart-items">
        {% if cart_items %}
            {% for item in cart_items %}
                <div class="cart-item">
                    <div class="item-details">
                        <img src="{{ item.image }}" alt="{{ item.name }}" class="item-image">
                        <div class="item-info">
                            <p class="item-name">{{ item.name }}</p>
                            <p class="item-price">Цена: {{ item.price }}</p>
                        </div>
                    </div>
                    <button class="remove-item" onclick="removeItem('{{ item.id }}')">Удалить</button>
                </div>
            {% endfor %}
       
        {% endif %}
    </div>
    <div class="cart-total">
        {% if total_price %}
            <p class="total">Общая сумма: {{ total_price }}</p>
            <button class="checkout-button">Оформить заказ</button>
        {% endif %}
    </div>
</div>
{% endblock %}
