{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

{% block content %}
<header class="head">
    <ul>
        <li><a href="{% url 'HomePage' %}">Главная</a></li>
        <li><a href="{% url 'ShopPage' %}">Магазин</a></li>
        <li><a href="{% url 'BasketPage' %}">Корзина</a></li>
        <li><a href="{% url 'AboutUsPage' %}">О нас</a></li>
        <li><a href="{% url 'SettingsPage' %}" class="active">Настройки</a></li>
    </ul>
</header>
<h3>Профиль</h3>
<div class="container_set">
    <div class="one">
        <a href="#">Привязать почту</a>
        <a href="#">Отвязать почту</a>
        <a href="#">Изменить пароль</a>
    </div>
    <div class="two">
        <a href="#">Привязать Vk</a>
        <a href="#">Изменить язык</a>
        <a href="#">Подать жалобу</a>
    </div>

</div>
{% endblock %}